[bumpversion]
current_version = 0.2.35
commit = True
tag = False

[bumpversion:file:setup.py]

[bumpversion:file:README.rst]

[bumpversion:file:docs/conf.py]

[bumpversion:file:src/deployv_addon_gitlab_tools/__init__.py]
