table.small-print, td.small-print, th.small-print {
    font-size: 10pt;
}

#signatures {
    padding-top: 3em;
}

#signatures .signature {
    display: inline-block;
    width: 12em;
    border-top: 1px solid;
    margin-right: 20px;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

td, th {
    padding: 1px;
}

tr.lessons-day-first {
    border-top: 3px solid rgba(0, 0, 0, 0.3);
}

th.lessons-day-head, td.rotate, th.rotate {
    text-align: center;
    transform: rotate(-90deg);
}

tr.lesson-cancelled td.subj {
    text-decoration: line-through;
}

tr.lesson-cancelled td {
    background-color: #EF9A9A;
}

tr.lesson-substituted td.lesson-subj {
    text-decoration: line-through;
}

tr.lesson-substituted td {
    background-color: #ffb74d;
}

td.lesson-notes {
    font-size: 80%;
}

td.lesson-notes span.lesson-note-absent {
    color: #cc0000;
}

td.lesson-notes span.lesson-note-late {
    color: #ff9933;
}

td.lesson-notes span.lesson-note-excused {
    color: #009933;
}

table.person-info {
    border: none;
}

table.person-info td.person-img {
    text-align: center;
}

table.person-info td.person-img img {
    max-height: 30mm;
}

img.max-size-600 {
    max-width: 600px;
    max-height: 600px;
}
